<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <appSettings>
    <add key="CryptoKey" value="fdb54YTi"/>
    <add key="CryptoIV" value="fdb54YTi"/>
    <add key="SourcePath" value="C:\Users\user\Desktop\953502\3 sem\C#\ISP\lab2-3cs\DefaultServer\Source"/>
    <add key="TargetPath" value="C:\Users\user\Desktop\953502\3 sem\C#\ISP\lab2-3cs\DefaultServer\Target"/>
    <add key="DearchivationPath" value="C:\Users\user\Desktop\953502\3 sem\C#\ISP\lab2-3cs\DefaultServer\Source\Dearchivated"/>
    <add key="ArchivationPath" value="C:\Users\user\Desktop\953502\3 sem\C#\ISP\lab2-3cs\DefaultServer\Target\Archivated"/>
    <add key="ErrorLogPath" value="C:\Users\user\Desktop\953502\3 sem\C#\ISP\lab2-3cs\ErrorLog.txt"/>
    <add key="LogPath" value="C:\Users\user\Desktop\953502\3 sem\C#\ISP\lab2-3cs\Log.txt"/>
    <add key="PathToXml" value="C:\Users\user\Desktop\953502\3 sem\C#\ISP\lab2-3cs\Configs\configuration.xml"/>
    <add key="PathToJson" value="C:\Users\user\Desktop\953502\3 sem\C#\ISP\lab2-3cs\Configs\configuration.json"/>
    <add key="targetNS" value="urn:conf-schema"/>
    <add key="XSDPath" value="C:\Users\user\Desktop\953502\3 sem\C#\ISP\lab2-3cs\Configs\configuration.xsd"/>
    <add key="Validate" value="true"/>
    <add key="ValidationLogPath" value="C:\Users\user\Desktop\953502\3 sem\C#\ISP\lab2-3cs\ValidationLog.txt"/>
  </appSettings>
  
  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>
</configuration>