<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="DefaultDBconnection" value="Data Source=DESKTOP-3J68A79\SQLEXPRESS;Initial Catalog=AdventureWorks2019;Integrated Security=True"/>
      <add key ="DefaultFTPpath" value="D:\VS2020\lab2-4cs\FTP-Servers\Default Data from DB"/>
      <add key="DefaultLogDBconntection" value="Data Source=DESKTOP-3J68A79\SQLEXPRESS;Initial Catalog=AppInsights;Integrated Security=True"/>
      <add key="DefaultTimeout" value="10"/>
      <add key="PathToConfig" value="D:\VS2020\lab2-4cs\DataManager\Config"/>

      <add key="targetNS" value="urn:conf-schema"/>
      <add key ="Validate" value ="true"/>
      <add key="ConfigErrorLogPath" value="D:\VS2020\lab2-4cs\ConfigProvider\Logs\ErrorLog.txt"/>
      <add key="ConfigValidationLogPath" value="D:\VS2020\lab2-4cs\ConfigProvider\Logs\ValidationLog.txt"/>
      <add key="ConfigValidate" value="true"/>
    </appSettings>
</configuration>